<button type="button" class="button-fixed bg-success" data-bs-toggle="modal" data-bs-target="#fixedForm" data-render-more-target = "openModal" data-controller = "render-more" data-render-more-open-value = "<%= @form_err %>">
  +
</button>
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12">
      <% @fixeds.each do |fixed| %>
        <%= render "fixed_card", fixed: fixed %>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="fixedForm" tabindex="-1" aria-labelledby="fixedFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Crear pago programado</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "fixed_form", fixed: @fixed, text_button: "Crear pago programado" %>
      </div>
    </div>
  </div>
</div>
