<% @records.each do |record| %>
<div data-render-more-record-index-value = <%= record.id %>>
    <%= render "record", record: record %>
    <%= render "record-modal", record: record %>
</div>
<% end %>
<% unless @show_more %>
  <p data-action="click->render-more#update" data-render-more-target = "showMore">Ver más...</p>
<% end %>
