<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <h2>Nuevo Plan</h2>
      <%= render 'form', plan: @plan, colors: @colors %>
    </div>
    <div class="col-8">
      <% @plans.each do |plan|%>
        <%= render "plan_card", plan: plan %>
      <% end %>
    </div>
  </div>
</div>
