<%= link_to account_path(account), class: "text-decoration-none" do %>
  <div class="card account-card" style="background-color: <%= account.color %>;">
    <div class="card-body d-flex justify-content-between d-flex align-items-center">
      <div class="d-flex d-flex align-items-center">
        <i class="fa-solid fa-coins fs-1 me-3"></i>
        <div>
          <div class = "d-inline-block text-truncate" style="max-width: 200px;"><%= account.name %></div>
          <div><%= account.balance %></div>
        </div>
      </div>
    </div>
  </div>
<% end %>
