<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <h2>Nueva Cuenta</h2>
      <%= render "new_account", account: Account.new, colors: @colors %>
    </div>
    <div class="col-8">
      <div class="row">
        <% @accounts.each do |account| %>
          <div class="col-6 mb-3">
            <%= render "account_card", account: account %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
